<div class = "bootstrap-padding">
  <div class = "wrapper-skinny">
	<div id = "form">

	
		<% provide(:title, "Forgot password") %>
		<h1 align="center">パスワード再設定</h1>

		<div class="row">
		  <div class="col-md-6 col-md-offset-3">
		    <%= form_for(:password_reset, url: password_resets_path) do |f| %>

		    <div class="field">
		      <%= f.label :email %>
		      <%= f.email_field :email, class: 'form-control' %>
		    </div>

		      <%= f.submit "Submit", class: "button button_color button_center" %>
		    <% end %>

		    <hr class = "line-form">

	        <div class = "action">
	              <p>パスワードを忘れてしまったアカウントの<br><span class = "red">メールアドレス</span>を入力して下さい。</p>
	        </div>
		  </div>
		</div>

	</div>
　</div>
</div>