<% provide(:title, "Home") %>


<div id="background">
	<h1>BLOG</h1>
	<div class = "wow fadeIn" data-wow-duration = "4s" data-wow-delay = "0.5s" >
		<p class = "text">
			このサイトはテスト用です。<br>
			Created by Shibayama Hiroki
		</p>

		<div class = "scroll-btn">
			<a href = "#1", class = "btn btn-circle page-scroll" >
				<i class = "fa fa-angle-double-down fa-4x" aria-hidden="true"></i>
			</a>
		</div>

	</div>
</div>


<div id = "1" class = "about">
    <div class = "container">   
          <div class = "row">
                      
                <div class="col-md-12 col-sm-12">
                    
                    <h1 class = "main-about-text"align = "center">About</h1>
                    
                    <hr class = "line">
                    
                </div>      
                
                <div class = "wow fadeInLeft" data-wow-duration = "2s" data-wow-delay = "0.5s" > 
	                <div class=".col-xs-6 col-sm-3">
	                    <div class = "icon">
	                        <i class="fa fa-user fa-5x" aria-hidden="true"></i>
	                    </div>
	                    <h3 align = "center">User</h3>
	                    <p align = "center">
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	                             Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
	                            Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
	                    </p>
	                </div>
	            </div>

                <div class = "wow fadeInLeft" data-wow-duration = "2s" data-wow-delay = "0.3s" > 
	                <div class=".col-xs-6 col-sm-3">
	                    <div class = "icon">
	                        <i class="fa fa-clipboard fa-5x" aria-hidden="true"></i>
	                    </div>
	                    <h3 align = "center">Post</h3>
	                    <p align = "center">
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	                             Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
	                            Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
	                    </p>
	                </div>
	            </div>
                
				<div class = "wow fadeInRight" data-wow-duration = "2s" data-wow-delay = "0.3s" > 
	                <div class=".col-xs-6 col-sm-3">
	                    <div class = "icon">
	                        <i class="fa fa-comment fa-5x" aria-hidden="true"></i>
	                    </div>
	                    <h3 align = "center">Comment</h3>
	                    <p align = "center">
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	                             Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
	                            Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
	                    </p>
	                </div>
	            </div>

                <div class = "wow fadeInRight" data-wow-duration = "2s" data-wow-delay = "0.5s" > 
	                <div class=".col-xs-6 col-sm-3">
	                    <div class = "icon">
	                        <i class="fa fa-thumbs-up fa-5x" aria-hidden="true"></i>
	                    </div>
	                    <h3 align = "center">Like</h3>
	                    <p align = "center">
	                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	                             Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
	                            Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
	                    </p>
	                </div>
	            </div>


          </div> 
    </div>
</div>



<div id = "madeby" class = "bg-image">


</div>

<div id = "2" class = "code">
    <div class = "container">   
          <div class = "row">
                      
                <div class="col-md-12 col-sm-12">
                    
                    <h1 class = "main-about-text"align = "center">GitHub</h1>
                    
                    <hr class = "line-width">

					<div class = "icon">
	                        <%= image_tag("GitHub-Mark-120px-plus") %>
	                </div>

					<div class="center">
		                <strong>このサイトのコードです。</strong><br>
						<%= link_to "https://github.com/shiba-git/blog-mac", "https://github.com/shiba-git/blog-mac", target: "_blank"%>
					</div>
                    
                </div>   
           </div>
    </div>
</div>


<div id = "footer">
	<div class = "container">
		<div class="row">
			<div class="col-lg-12">
				Copyright &copy; BLOG 2016
			</div>
		</div>
	</div>
</div>
